<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        package="com.hyw.daemonservice">

    <!--  allow receive the boot broadcast  -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application android:allowBackup="true"
        android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:persistent="true"
        android:theme="@style/AppTheme">

        <!--   receive the action of boot start   -->
        <receiver android:name = ".receiver.BootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"></action>
                <category android:name="android.intent.category.LAUNCHER"></category>
            </intent-filter>
        </receiver>

        <service
            android:name=".receiver.DaemonService"
            android:enabled="true"
            android:exported="true"/>

    </application>



</manifest>
